/* History */
.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.history-date {
    display: flex;
    flex-direction: column;
}

.history-date span:first-child {
    font-weight: 700;
    font-size: 1.1rem;
}

.history-date span:last-child {
    font-size: 0.9rem;
    color: var(--text-muted);
}